<mat-toolbar>
    <div class="links">       
        <ul class="menu">
            <li class="footerlink"><a class="directory" routerLink="/">Home</a></li>
            <li class="footerlink"><a class="directory" routerLink="/about">About</a></li>
            <li class="footerlink"><a class="directory" routerLink="/facilities">Facilities</a></li>
            <li class="footerlink"><a class="directory" routerLink="/contact">Contact</a></li>
        </ul>
    </div> 
    <div class="contact">
        <div class="phone">
            Phone: (650) 814-4400<a></a>
        </div>
        <div class="fax">
            Fax: (650) 268-1300<a></a>
        </div>
    </div>
</mat-toolbar>