body {
    padding: 100px;
    padding-left: 40%;
    padding-bottom: 800px;
    font-style: Roboto, sans-serif;
}

.mat-raised-button {
    background-color: rgb(200, 200, 200);
}

input {
    height: 30px;
    width: 250px;
}

.message {
    height: 50px;
}

