<div class="image" (swipeleft)="prevpic()" (swiperight)="nextpic()">
    <img src={{imagePath}}>
</div>
<div class="buttons">
    <div class="forward">
        <button mat-stroked-button class="next" (click)="prevpic()" (click)="addtime()"><mat-icon>keyboard_double_arrow_right</mat-icon></button>
    </div>
    <div class="backward">
        <button mat-stroked-button class="back" (click)="nextpic()"><mat-icon>keyboard_double_arrow_left</mat-icon></button>
    </div>
</div>
<!--<div class="dashes">
    <ul class="positionshow">
        <li class="position"><a class="position1"><mat-icon>horizontal_rule</mat-icon></a></li>
        <li class="position"><a class="position2"><mat-icon>horizontal_rule</mat-icon></a></li>
        <li class="position"><a class="position3"><mat-icon>horizontal_rule</mat-icon></a></li>
        <li class="position"><a class="position4"><mat-icon>horizontal_rule</mat-icon></a></li>
        <li class="position"><a class="position5"><mat-icon>horizontal_rule</mat-icon></a></li>
    </ul>
</div>-->
